<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eloqua Form test</title>
</head>
<body>
<h2>Eloqua CDO Submit</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter Eloqua cdo name:</td>
            <td><input type="text" name="eloquacdoname"/></td>
        </tr>
        <tr>
            <td>Enter Hadoop table name</td>
            <td><input type="text" name="hadooptablename"/></td>
        </tr>
        <tr>
            <td>Enter cec id</td>
            <td><input type="text" name="cecid"/></td>
        </tr>
        <tr>
            <td>
 
            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
