<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eloqua Form Test</title>
</head>
<body>
<h2>Eloqua CDO Submit</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Eloqua cdo name</td>
            <td><strong>{{ eloquacdoname }}</strong></td>
        </tr>
        <tr>
            <td>Hadoop table name</td>
            <td><strong>{{ hadooptablename }}</strong></td>
        </tr>
        <tr>
            <td>cec id</td>
            <td><strong>{{ cecid }}</strong></td>
        </tr>
    </table>
</form>
</body>
</html>
